@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet');
@import url("https://fonts.googleapis.com/css?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet");

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* p {
  margin-bottom: -10px;
} */

.button-font {
  /* font-family: 'Anton', sans-serif; */
  /* font-size: 20px */
}

.tourDateFont {
  font-family: "Montserrat", sans-serif;
  color: "white";
  font-size: 50px;
}

.tourDateFont {
  font-family: 'Roboto', sans-serif;
}

.title {
  margin: 20px auto 0;
  text-align: center;
}
.rhap_container {
  height: 5%;
}

.links {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.rhap_play-pause-button {
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
}

.rhap_progress-section {
  display: none;
}

.links .link {
  margin-top: 20px;
}

.component {
  height: 100%;
  width: 100%;
  display: flex;
}

.banner {
  background-color: white;
  width: 90%;
  margin-top: -75px;
  opacity: 64%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.permanent-mark {
  font-family: "Permanent Marker", cursive;
  color: black;
}
.component.first-component {
  height: 100%;
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  background-image: url("../../assets/Scenic.png") no-repeat center center;
  /* background-image: linear-gradient(to Bottom, rgba(214, 110, 197, 0.425), rgba(190,152,152,.74)), url('../../assets/park-sm.png'); */
  /* background-image: linear-gradient(to Bottom, rgba(214, 110, 197, 0.425), rgba(190,152,152,.74)), url('../../assets/Ferris-Wheel.png'); */
  /* background-image: linear-gradient(to Bottom, rgba(214, 110, 197, 0.425), rgba(190,152,152,.74)), url('../../assets/Arcade.jpg'); */

  /* background-image: linear-gradient(to Bottom, rgba(72, 144, 167, 0.425), rgba(190,152,152,.74)), url('../../assets/Arcade.jpg'); */
  background-image: linear-gradient(
      to Bottom,
      rgba(72, 144, 167, 0.425),
      rgba(187, 152, 190, 0.74)
    ),
    url("../../assets/Arcade.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
}

.albumImage {
  background-image: url("../../assets/Album.png") ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: flex-end;
  /* flex-direction: column;
  align-items: center; */


}

.albumBanner {
  background-color: white;
  margin-left: 3em;
  /* width: ""; */
  /* margin-top: -75px; */
  opacity: 64%;
  align-items: center;
  padding: 20px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

.first-component--inside-scroller {
  /* position: absolute; */
  right: 20px;
  top: 100px;
}

.pager li > a {
  border: none;
  border-radius: 30px;
  background-color: transparent;
  margin-right: 50px;
  font-size: 17px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.fontfam {
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
}
.pager li.active > a {
  text-decoration: none;
  background-color: transparent;
  border-radius: 50;
  border: 2px solid #ff4ee1;
  /* color:#ff4ee1 ; */
}

.pager li > a:focus,
.pager li > a:hover {
  text-decoration: none;
  background-color: transparent;
  border-radius: 50;
  /* border: none */
  /* color:#ff4ee1 ; */
}

.component.second-component {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #333;
}

.component.third-component {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: "center";
}

/* .video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.component.fourth-component {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: "center";
  background-color: #333;
}

.component.fifth-component {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
}

h2 {
  margin: auto;
  text-align: center;
}

.pagination-additional-class {
  margin: 0;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.pagination-additional-class > li:not(:last-of-type) > a,
.pagination-additional-class > li:not(:last-of-type) > span {
  margin-right: 50px;
}

.demo-page-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.demo-page-contain__hint {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .pagination-additional-class > li:not(:last-of-type) > a,
  .pagination-additional-class > li:not(:last-of-type) > span {
    margin-right: 5px;
  }
}

/* effects */


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.main-title {
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.containerRow {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 640px) {
  /* .container{
    display: block;
    width: 100%;
  } */
}

@media screen and (min-width: 900px) {
  /* .container{
    width: 33.33333%;
  } */
}

.container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 100%;
  /* max-width: 400px; */
  margin: auto;
  overflow: hidden;
  height: 100%;
}

.content-text {
  font-size: 30px;
}

.content .content-overlay {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

/* .content-image{
  width: 100%;
} */

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: rgb(0, 0, 0);
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}
