html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.title {
    margin: 20px auto 0;
    text-align: center;
}
.rhap_container {
    height: 5%;
}

.links {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.rhap_play-pause-button {
 background-color: transparent;
 border: 1px solid transparent;
 outline: none;
}

.rhap_progress-section {
    display: none;
}

.links .link {
    margin-top: 20px;
}

.component {
    height: 100%;
    width: 100%;
    display: flex;
    /* background-image: url("../../assets/Scenic.png") no-repeat center center;
    background-image: linear-gradient(to right, #ff83ea81, #ffa1a186), url("../../assets/Scenic.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     justify-content: center; */

}

.component.first-component {
 
    height: 100%;
    width: 100%;
    display: flex;
    background-image: url("../../assets/Scenic.png") no-repeat center center;
    background-image: linear-gradient(to Bottom, #d861c431, #f76666b6), url("../../assets/park-lg.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     justify-content: center;
    /* position: relative; */
}

.rhap_container {

}

.first-component--inside-scroller {
    /* position: absolute; */
    right: 20px;
    top: 100px;
}

.component.second-component {
    height: 100%;
    width: 100%;
    display: flex;
    /* background-image: url("../../assets/MGMTBandImage.png") no-repeat center center; */
    background-image: linear-gradient(to right, #d15cbe62, #ffa1a186), url("../../assets/MGMTBandImage.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     justify-content: center;
}

.component.third-component {
    background-color: blue;
}

.component.fourth-component {
    background-color: yellow;
}

.component.fifth-component {
    background-color: purple;
}

h2 {
    margin: auto;
    text-align: center;
}

.pagination-additional-class {
    margin: 0;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pagination-additional-class > li:not(:last-of-type) > a, .pagination-additional-class > li:not(:last-of-type) > span {
    margin-right: 50px;
}

.demo-page-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.demo-page-contain__hint {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .pagination-additional-class > li:not(:last-of-type) > a, .pagination-additional-class > li:not(:last-of-type) > span {
        margin-right: 5px;
    }
}