@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet");
@import url("https://fonts.googleapis.com/css?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"rel="stylesheet");

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bannerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.scroll-button {
  margin-top: -50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.imageFirstComp {
  opacity: 100%;
  height: 630px;
  width: 630px;
}


.audio-player {
  margin-bottom: 60px;
}


.tourDateFont1 {
  font-family: "Roboto", sans-serif;
  color: #e68fd5;
  font-weight: 500;
  font-size: 23px;
  margin-bottom: -10px;
}


input:focus, textarea:focus, select:focus{
  outline: none;
  box-shadow: none;
}

.tourDateFont2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: -10px;
}

.tourDateFont3 {
  font-family: "Roboto", sans-serif;
  color: #e68fd5;
  font-weight: 500;
  font-size: 23px;
  /* margin-bottom:  */
}

.td-wrap {
  margin-right: 30px;
}

.mixed-chart {
  margin: auto;
  width: 60%;
}

.fifth-title {
  height: 30%;
  background-color: #333;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
}

@media screen and (max-width: 1500px) {
  .fifth-title {
    height: 25%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

@media screen and (max-width: 1100px) {
  .fifth-title {
    height: 25%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .imageFirstComp {
    opacity: .85;
    height: 300px;
    width: 300px;
  }
  .mixed-chart {
    margin: auto;
    width: 80%;
  }
  .tourDateFont1 {
    font-family: "Roboto", sans-serif;
    color: #e68fd5;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: -0px;
  }

  .tourDateFont2 {
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: -10px;
    line-height: initial;
  }

  .tourDateFont3 {
    display: none;
  }
}

@media screen and (max-width: 675px) {
  .displayNone {
    display: none;
  }
  .scroll-button {
    /* margin-top: -100px; */
    margin-bottom: 50px;
    margin-right: 30px;
  }
  
 .pager > .pagination-additional-class {
    justify-content: center;
  }


  .pagination-additional-class > .main-logo {
    display: none;
    }

  .fifth-title {
    height: 40%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20%;
  }
  .mixed-chart {
    margin: auto;
    width: 100%;
    height: 100%;
  }
  div > .fontfam {
    font-family: "Permanent Marker", cursive;
    font-size: 30px;
    padding-left: 10px
  }
  div > .fontfam2 {
    font-family: "Permanent Marker", cursive;
    font-size: 40px;
  }
  .tourDateButton {
    padding: 10px;
    display: none;
  }
  .td-wrap {
    margin-right: 10px;
  }
  .imageFirstComp {
    margin-top: 10px;
    opacity: 100%;
    height: 320px;
    width: 320px;
  }
  .bannerWrapper > .albumBanner {
    margin-left: 0em;
    margin-top: -50px;
  }
  .albumBanner > .albumImage {
    height: 250px;
  }

  .audio-player {
    margin-bottom: -30px;
  }
  .tourDateFont1 {
    font-family: "Roboto", sans-serif;
    color: #e68fd5;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: -0px;
  }

  .tourDateFont2 {
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: -10px;
    line-height: initial;
  }

  .tourDateFont3 {
    display: none;
  }
}

@media screen and (min-width: 900px) {
}

.title {
  margin: 20px auto 0;
  text-align: center;
}
.rhap_container {
  height: 5%;
}

.links {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.rhap_play-pause-button {
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
}

.rhap_progress-section {
  display: none;
}

.links .link {
  margin-top: 20px;
}

.component {
  height: 100%;
  width: 100%;
  display: flex;
}

.banner {
  background-color: white;
  width: 90%;
  margin-top: -75px;
  opacity: 64%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.permanent-mark {
  font-family: "Permanent Marker", cursive;
  color: black;
}
.component.first-component {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("./assets/Scenic.png") no-repeat center center;
  background-image: linear-gradient( to Bottom, rgb(67 132 154 / 53%), rgb(134 94 120 / 74%)), url("./assets/Arcade.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex-direction: column;
  align-items: center;
}

.albumImage {
  background-image: url("./assets/mgmt_art.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: flex-end;
}

.albumBanner {
  background-color: white;
  margin-left: 3em;
  opacity: 95%;
  align-items: center;
  padding: 20px;
}


.first-component--inside-scroller {
  right: 20px;
  top: 100px;
}

.pager li > a {
  border: none;
  border-radius: 30px;
  background-color: transparent;
  margin-right: 50px;
  font-size: 16px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.fontfam {
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
}
.fontfam2 {
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
}
.pager li.active > a {
  text-decoration: none;
  background-color: transparent;
  border-radius: 50;
  border: 3px solid #ff4ee1;
}

.pager li > a:focus,
.pager li > a:hover {
  text-decoration: none;
  background-color: transparent;
  border-radius: 50;
}

.component.second-component {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #333;
}

.component.third-component {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: "center";
}

.component.fourth-component {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: "center";
  background-color: #333;
}

.component.fifth-component {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
}

h2 {
  margin: auto;
  text-align: center;
}

.pagination-additional-class {
  margin: 0;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pagination-additional-class > li:not(:last-of-type) > a,
.pagination-additional-class > li:not(:last-of-type) > span {
  margin-right: 50px;
}

.demo-page-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.demo-page-contain__hint {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .pagination-additional-class > li:not(:last-of-type) > a,
  .pagination-additional-class > li:not(:last-of-type) > span {
    margin-right: 2px;
    font-size: 14px;
    margin-top: -5px
  }
  .pagination-additional-class > li > a,
  .pagination-additional-class > li > span {
    margin-right: 2px;
    font-size: 14px;
    margin-top: -5px
  }
}

/* effects */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.main-title {
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

.containerRow {
  height: 45.5%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 100%;
  /* max-width: 400px; */
  margin: auto;
  overflow: hidden;
  height: 100%;
}

.content-text {
  font-size: 30px;
}

.content .content-overlay {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: rgb(0, 0, 0);
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}
